*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: burlywood;
}

a{
  text-decoration: none;
}

/* code for the navbar */
#navbar{
  background: pink;
  color: rgb(226, 43, 116);
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  z-index:1 ;
  padding: 1rem;
}

ul{
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a{
  color: blue;
  padding: 0.75rem;
  margin: 0 0.2rem;
}

#navbar ul li a:hover{
  background: violet;
  border-radius: 5px;
}

/* Css code for header showcase */
#showcase{
background: url("../img/bill-wegener-LqOO5Ko0zSo-unsplash.jpg") no-repeat center center/cover;
height: 100vh;
color: rgb(228, 226, 234);
}

  #showcase .show-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    padding: 2rem;

    
    
    /* overlay */
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

  }
 
  .l-leading{
    font-size: 2rem;
    margin-bottom: 00.75rem;
    line-height: 1.1;
  }

.lead{
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn{
  text-align: center;
  display: inline-block;
  color: #fff;
  background: blue;
  padding: 0.5rem 2rem;
  width: 180px;
  border: none;
  border-radius: 5px;
}
.btn:hover{
  background: brown;
}

/* what we do */
.items{
  display: flex;
  padding: 1rem;
}

#what .items .item{
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i{
background: purple;
color: aqua;
padding: 1rem;
border-radius: 50%;
}

#who{
  display: flex;
}

#who div{
  flex: 1;
}

#who .who-img{
  background: url("../img/lulu.jpg") no-repeat center center/cover;
}

bg-light{
  background: blue;
  color: aliceblue;
}

bg-dark{
  color: rgb(226, 43, 116);
  background: #fff;

}

.p1{
  padding: 3;
}

.p-2{
  padding: 2rem;
}
.p3{
  padding: 3rem;
}

.list{
  margin: 0.5rem 0;
  list-style: none;
}

.list li{
  padding: 0.5rem 0;
  border-bottom:#444 dotted 1px;
}

/* client */
#client{
  display: flex;;
  margin: auto 0;
  justify-content: center;
  align-items: center;

}

#client .items img{
  display: block;
  margin: auto;
  width: 90px;
  height: 90px;
}